version: '2'
services:
  kafka:
    image: spotify/kafka
    ports:
      - 2181:2181
      - 9092:9092
  registry-server:
    image: ssg/registry-server
    ports:
      - 8761:8761
  config-server:
    image: ssg/config-server
    ports:
      - 8888:8888
    links:
      - kafka
      - registry-server
  auth-service:
    image: ssg/auth-service
    ports:
      - 9081:9081
    links:
      - kafka
      - registry-server
      - config-server
  sopridees-service:
    image: ssg/sopridees-service
    ports:
      - 8280:8280
    links:
      - kafka
      - registry-server
      - config-server
  proxy-server:
    image: ssg/proxy-server
    ports:
      - 9080:9080
    links:
      - kafka
      - registry-server
      - config-server
  dashboard-hystrix:
    image: ssg/dashboard-hystrix
    ports:
      - 6161:6161
      - 8989:8989
    links:
      - kafka
      - registry-server
      - config-server
  dashboard-zipkin:
    image: ssg/dashboard-zipkin
    ports:
      - 6262:6262
    links:
      - kafka
      - registry-server
      - config-server
