<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="LOG_FILE" value="${BUILD_FOLDER:-build}/${springAppName}"/>​

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.soprasteria.initiatives" level="TRACE"/>
    <logger name="javax" level="WARN"/>
    <logger name="kafka" level="WARN"/>
    <logger name="com.sun" level="OFF"/>
    <logger name="sun.net" level="OFF"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.aspectj" level="WARN"/>
    <logger name="zipkin" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="org.eclipse" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.jboss.logging" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="ERROR"/>
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR"/>
    <logger name="org.springframework.context.annotation.ConfigurationClassPostProcessor" level="ERROR"/>
    <logger name="org.springframework.cloud.config.server.environment.NativeEnvironmentRepository" level="INFO"/>
    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO"/>

    <root level="TRACE">
        <appender-ref ref="console"/>
    </root>

</configuration>